<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name = "viewport" content="width = device-width,initial-scale = 1.0 ">
</head>    
<style>
    body{
        background-image: url("https://thumbs.dreamstime.com/z/education-inequity-academic-degree-institution-bias-imbalance-chance-access-to-knowledge-school-dropout-concept-success-young-233324973.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed; background-size: cover;
        }
</style>
<title style="text-align:center;">Prediction Student Success Or  Dropout</title>


    <h1>Prediction Student Progress </h1>
    <form method = "POST" action = "/student_progress">

        <label> Marital_status :</label>
        <select name = "Marital_status">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
          
        
        <br>
        <br>
        <label> Application_mode : </label>
        <input type = "text" name = "Application_mode">
        </select>
        
        
        <br>
        <br>
        <label> Application_order :</label>
        <select name = "Application_order">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>


        <br>
        <br>

        <label> Course : </label>
        <input type = "text" name = "Course">
        </select>
        
        
        <br>
        <br>
        <label> Daytime_evening_attendance : </label>
        <input type = "text" name = "Daytime_evening_attendance">
        </select>
        
        
        <br>
        <br>
        <label> Previous_qualification : </label>
        <input type = "text" name = "Previous_qualification">
        </select>
        
        
        <br>
        <br>
        <label> Nacionality : </label>
        <input type = "text" name = "Nacionality">
        </select>
        
        
        <br>
        <br>
        <label> Mothers_qualification : </label>
        <input type = "text" name = "Mothers_qualification">
        </select>
        
        
        <br>
        <br>
        <label> Fathers_qualification : </label>
        <input type = "text" name = "Fathers_qualification">
        </select>
        
        
        <br>
        <br>
        <label> Mother_occupation : </label>
        <input type = "text" name = "Mother_occupation">
        </select>
        
        
        <br>
        <br>
        <label> Father_occupation : </label>
        <input type = "text" name = "Father_occupation">
        </select>
        
        
        <br>
        <br>
        <label> Displaced :</label>
        <select name = "Displaced">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
        
        
        <br>
        <br>
        <label> Educational_special_needs : </label>
        <input type = "text" name = "Educational_special_needs">
        </select>
        
        
        <br>
        <br>
        <label> Debtor : </label>
        <input type = "text" name = "Debtor">
        </select>
        
        
        <br>
        <br>
        <label> Tuition_fees : </label>
        <input type = "text" name = "Tuition_fees">
        </select>
        
        
        <br>
        <br>
        <label> Gender :</label>
        <select name = "Gender">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
        
        
        <br>
        <br>
        <label> Scholarship_holder : </label>
        <input type = "text" name = "Scholarship_holder">
        </select>
        
        
        
        
        
        <br>
        <br>
        <label> Age_at_enrollment : </label>
        <input type = "text" name = "Age_at_enrollment">
        </select>
        
        
        <br>
        <br>
        <label> International :</label>
        <select name = "International">
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
        
        
        <br>
        <br>
        <label> Curricular_units_1st_sem_credited : </label>
        <input type = "text" name = "Curricular_units_1st_sem_credited">
        </select>
        
        
        <br>
        <br>
        <label> Curricular_1st_sem_Enrolled : </label>
        <input type = "text" name = "Curricular_1st_sem_Enrolled">
        </select>
        
        
        <br>
        <br>
        <label> Curricular_units_1st_sem_evaluations : </label>
        <input type = "text" name = "Curricular_units_1st_sem_evaluations">
        </select>
        
        
        <br>
        <br>
        <label> Curricular_units_1st_sem_approved : </label>
        <input type = "text" name = "Curricular_units_1st_sem_approved">
        </select>
        
        
        <br>
        <br>
        <label> Curricular_unit_1st_sem_grade : </label>
        <input type = "text" name = "Curricular_unit_1st_sem_grade">
        </select>
        
        
        <br>
        <br>
        <label> Curricular_units_1st_sem_without_evaluations : </label>
        <input type = "text" name = "Curricular_units_1st_sem_without_evaluations">
        </select>
        
        
        <br>
        <br>
        <label> Curricula_units_2nd_sem_credited : </label>
        <input type = "text" name = "Curricula_units_2nd_sem_credited">
        </select>
        
        
        <br>
        <br>
        <label> Curricular_units_2nd_sem_enrolled : </label>
        <input type = "text" name = "Curricular_units_2nd_sem_enrolled">
        </select>
        
        
        <br>
        <br>
        <label> Curricular_units_2nd_sem_evaluations : </label>
        <input type = "text" name = "Curricular_units_2nd_sem_evaluations">
        </select>
        
        
        <br>
        <br>
        <label> Curricular_units_2nd_sem_approved : </label>
        <input type = "text" name = "Curricular_units_2nd_sem_approved">
        </select>
        
        
        <br>
        <br>
        <label> Curricular_units_2nd_sem_grade : </label>
        <input type = "text" name = "Curricular_units_2nd_sem_grade">
        </select>
        
        
        <br>
        <br>
        <label> Curricular_units_2nd_sem_without_evaluations : </label>
        <input type = "text" name = "Curricular_units_2nd_sem_without_evaluations">
        </select>
        
        
        <br>
        <br>
        
        <label> Unemployment_rate : </label>
        <input type = "text" name = "Unemployment_rate">
        </select>
        
        
        <br>
        <br>
        
        <label> Inflation_rate : </label>
        <input type = "text" name = "Inflation_rate">
        </select>
        
        
        <br>
        <br>
        
        <label> GDP : </label>
        <input type = "text" name = "GDP">
        </select>
        
        
        <br>
        <br>
        <input type = "submit" value = "SUBMIT">
        
        <br>

            
        <p>Your are  <b>{{ prediction }}</b></p>  
        
    </form>    
</body>
</html>


        
        

        


